$margintop: 20px;

.image-preview {
  text-align: center;
  img {
    background-color: black;
    max-width: 560px;
    max-height: 450px;
    transition: 0.2s;
    margin-top: $margintop;
    object-fit: cover;
  }
}
