$titleFontFamily: 'Ubuntu', sans-serif;
$widthAfterNavbar :100%;
$borderColor: #D6D6D6;
$borderSize: 10px;
$titleFontSize: 20px;

.task-creation {
  width: $widthAfterNavbar;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .editor {
    box-sizing: border-box;
    height: 100%;
    grid-column: 0 1;
    border-right: $borderColor $borderSize/2 solid;
  }
  .preview {
    box-sizing: border-box;
    border-left: $borderColor $borderSize/2 solid;
    height: 100%;
    grid-column: 1 2;
  }
  .title {
    width: fit-content;
    box-sizing: border-box;
    font-size: $titleFontSize;
    font-family: $titleFontFamily;
    color: #9d9d9d;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.btn-next {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
