.dashboard-container {
  width: 80%;
  padding: 30px;
  margin: 0 auto;
  background: rgba(128, 128, 128, 0.08);
}

.chart {
  padding: 30px;
}

.project-button-group {
  text-align: right;
}
.project-button {
  margin: 0 5px;
}
