$margintop: 20px;

.image-task-container {
  height: 600px;
}

.task-description {
  text-align: center;
}

.flex-item {
  text-align: center;
  min-width: 90px;
}

.req-error {
  margin-top: 16px;
}
