.review-container {
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  background: rgba(128, 128, 128, 0.08);
}

.review-data {
  vertical-align: middle;
  display: inline-block;
}

.review-content {
  vertical-align: middle;
  display: inline-block;
}

.review-content .ant-list-item-meta-content {
  width: 100%;
  margin-left: 75px;
}

.review-list .ant-spin-nested-loading {
  min-height: 800px;
}

.review-list .ant-list-pagination {
  margin-top: 0px;
}
