.project-title {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}

.main-form-container {
  width: 80%;
  margin: 0 auto;
}

.form-button {
  margin: 5px;
}

.task-counter {
  cursor: default;
}

.completed-message {
  width: 80%;
  margin: 0 auto;
}
