.project-title {
  width: 60%;
  margin: 0 auto;
}

.main-form-container {
  width: 80%;
  margin: 0 auto;
}

.button-group {
  width: 40%;
  float: right;
  margin-top: 15px;
}

.form-button {
  margin: 5px;
}

.task-counter {
  cursor: default;
}
